@model IEnumerable<Proyecto_SW_II.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de películas</h1>

<p>
    <a class="btn btn-outline-info" asp-action="Create">Añadir película</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaLanzamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Portada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.compañia.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaLanzamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)€
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Portada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.compañia.Nombre)
            </td>
            <td>
                <a class="btn btn-outline-info" style="padding: 4px;" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-outline-info" style="padding: 4px;" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-outline-danger" style="padding: 4px;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
