@model IEnumerable<Proyecto_SW_II.Models.Alquiler>

@{
    ViewData["Title"] = "Index";
}

<h1>Pagos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pelicula.Titulo)
            </th>
            <th>
                Pago de 
                @Html.DisplayNameFor(model => model.cuenta.Nombre)
            </th>
            <th>
                a 
                @Html.DisplayNameFor(model => model.compañia.Nombre)
            </th>
            <th>
                Cantidad
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaComienzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pelicula.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cuenta.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.compañia.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pago) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaComienzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<hr />
<div>
    <a class="btn btn-outline-success" style="padding: 4px;" asp-controller="Cuentas" asp-action="Index">Regresar a la lista</a>
</div>
